.App {
  text-align: center;
}

.App-header {
  background-color: #cad2c5;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2f3e46;
  margin-bottom: 0em;
}

.navbar {
  background-color: #354f52;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  color: #cad2c5;
}

.nav-link:hover {
  color: #84a98c;
}

.link {
  color: #eb5e28;
  cursor: grab;
}

.home-page {
  background-color: #cad2c5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2f3e46;
}

.loggedin-page {
  background-color: #cad2c5;
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2f3e46;
  font-size: 1em;
}


.article-header,
.welcome-page {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2f3e46;
  padding-left: 1em;
  padding-right: 1em;
}



.welcome-img {
  height: auto;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.mb-3 {
  list-style-type: none;
  padding-right: 2em;
  padding-left: 2em;
  justify-content: center;
}

.comment-list {
  list-style-type: none;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2f3e46;
  margin: 1em;
}

.login-page {
  list-style-type: none;
  padding-right: 2em;
  padding-left: 2em;
}

.users-list {
  list-style-type: none;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-md-4 {
  border: 1px solid #52796f;
  margin: 2em;
  color: #2f3e46;
  padding-right: 1em;
  padding-left: 1em;
}

.article-body {
  padding-right: 1em;
  padding-left: 1em;
}

.article {
  justify-content: center;
  color: #2f3e46;
}

.comment-form {
  padding-top: 1em;
  padding-bottom: 1em;
}

.user-avatar  {
  height: auto;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-image{
  height:auto;
  max-width: 10%;
}

.logged-in-user {
  font-size: 1em;
  color: #cad2c5;
}
.logged-in-user-img {
  height: auto;
  max-width: 10%;
}

.user-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.users-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 1em;
}
