.App {
  text-align: center;
}

.App-header {
  background-color: #cad2c5;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2f3e46;
}

.navbar {
  background-color: #354f52;
}

.nav-link {
  color: #cad2c5;
}

.nav-link:hover {
  color: #84a98c;
}
.home-page {
  background-color: #cad2c5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2f3e46;
}

.article-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2f3e46;
}

.mb-3 {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-right: 2em;
  padding-left: 2em;
}
.col-md-4 {
  border: 1px solid #52796f;
  margin: 2em;
  color: #2f3e46;
  padding-right: 1em;
  padding-left: 1em;
}

.article-body {
  padding-right: 1em;
  padding-left: 1em;
}

.article {
  justify-content: center;
  color: #2f3e46;
}

.comment-form {
  padding-top: 1em;
  padding-bottom: 1em;
}

.user-avatar{
  height: auto;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
